*{
    margin: 0;
    padding:0;
}
body{
    background-color: black;
}
#container{
    border: 1px solid white;
    
    display:inline-block;
    margin-left: auto;
    margin-left: 50px;
    margin-top: 100px;
    padding-left:8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-radius: 0.5em;
    
}
button{
    height:50px;
    width:50px;
    margin-top: 10px;
    border-radius: 0.5em;
    border:1px solid grey;
    font-size: larger;
    
    
}
button:hover{
    background-color:rgb(52, 52, 88);
    color: beige;
}

input{
 padding: 20px;
}

h1{
    border: 1px solid black;
    font-size: larger;
}
@media(max-width: 300px){
    #container{
        margin-left: auto;
    }
}
